@using Nop.Plugin.Widgets.PowerReviews.Models

@model ListingModel

<!-- do we need this? I think it's for using dynamic? -->
<span style="display: none" class="product-box-sku">@Model.ProductSku</span>
<div id="pr_snippet_product_@Model.ProductId"></div>